@tailwind base;
@tailwind components;
@tailwind utilities;

.html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-color: #555 #000;
}

:root {
  --background: #ffffff;
  --foreground: #0E0E10;
  overflow-x:hidden;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E0E10;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Spline Sans Mono", serif;
  overflow-x:hidden;
  scrollbar-width: thin;
  scrollbar-color: #ededed;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;       /* or 8px, etc. */
  height: 6px;      /* for horizontal scroll */
}
::-webkit-scrollbar-track {
  background: #000; 
}
::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px; 
  /* optionally add a border for some spacing around thumb */
  border: 1px solid #000; 
}
::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

